.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;

  .wrapper {
    display: flex;
    align-items: center;


    .menu {
      list-style-type: none;
      padding-right: 10px;
      border-right: 1px solid;
      padding-bottom: 5px;

      > li {
        display: inline-block;

        > a {
          display: block;
          font-size: 16px;
          color: #222;
          padding: 0 6px;
          text-decoration: none;
        }
      }
    }
      .buttons {
        display: flex;
        align-items: center;

        padding-left: 10px;
        >button{
          cursor: pointer;
          border: none;
          outline: none;
          background-color: transparent;
        }
        .login {
          font-size: 16px;
          color: black;
          padding: 0 6px;
        }

        .sign {
          margin-left: 15px;
          padding: 5px 8px;
          border: 1px solid  rgba(218,48,47,0.97);
          cursor: pointer;
        }
      }

  }

}